.SINGLEPOST {
    .exif {
        .exif-camera {
            span {
                padding: 0 8px;
            }
            span:nth-child(1) {
                padding: 0 8px 0 0;
            }
        }
        .exif-lens {
            span {
                padding: 0 8px;
            }
            span:nth-child(1) {
                padding: 0 8px 0 0;
            }
        }
        .exif-settings {
            span {
                padding: 0 8px;
            }
            span:nth-child(1) {
                padding: 0 8px 0 0;
            }
        }
    }

    .post-info-scroll {
        height: 50vh;
        overflow-y: scroll;
        padding-right: 20px;
    }

    .likes {
        .like-button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            border-radius: 128px;
            outline: none;
        }
        .like-button:hover {
            background-color: rgb(251, 233, 235);
            transition: 0.5s ease-in-out;
        }
        .like-button-liked {
            background-color: rgb(251, 233, 235);
            transition: 0.5s ease-in-out;
            color: rgb(255, 73, 94);

        }
        .like-button-notliked {
            background-color: rgb(241, 241, 241);
            transition: 0.5s ease-in-out;
            color: rgb(126, 126, 126);

        }
    }
}
