.SINGLEPOST {
    .exif {
        .exif-camera {
            span {
                padding: 0 8px;
            }
            span:nth-child(1) {
                padding: 0 8px 0 0;
            }
        }
        .exif-lens {
            span {
                padding: 0 8px;
            }
            span:nth-child(1) {
                padding: 0 8px 0 0;
            }
        }
        .exif-settings {
            span {
                padding: 0 8px;
            }
            span:nth-child(1) {
                padding: 0 8px 0 0;
            }
        }
    }

    .post-info-scroll {
        height: 50vh;
        overflow-y: scroll;
        padding-right: 20px;
    }

    .likes {
        .like-button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            border-radius: 128px;
        }
        .status-wrapper {
        }
    }
}
