.USERPROFILE {
    .user-basic-info {
        .user-username {
            font-size: 2rem;
        }
        .user-email {
            font-size: 0.75rem;
        }
    }
    .user-social-status {
    }
    .social-media-link {
        text-decoration: none;
        color: #1d1d1d;
    }
}
