@import "./styles/variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    color: $dark;
    font-family: $Montserrat;
}

#root {
    height: 100%;
}

html::-webkit-scrollbar {
    width: 5px;
    height: 13px;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b1b2b5;
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px 0px #f0f0f0;
}
